.git
.github
.venv
venv
__pycache__
*.py[cod]
*.egg-info
.pytest_cache
.mypy_cache
.ruff_cache
htmlcov
.coverage
.env
.env.*
!.env.example
tests
docs
*.md
!README.md
{% if uses_database and database == "sqlite" %}
*.db
*.sqlite3
{% endif %}
